@using DTO.Dtos;
@model DTO.Dtos.MedidaCorporal;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@{
    Layout = null;

    var listadoEntrenadores = ViewBag.entrenadores as List<ExistingUser>;
    if (listadoEntrenadores == null)
    {
        listadoEntrenadores = new List<ExistingUser>();
    }
}
<head>
<meta content="" name="keywords">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GymFrontend.styles.css" asp-append-version="true" />

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">


<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/lib/bootstrap-icons2/bootstrap-icons.css" rel="stylesheet">

<!--
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
-->
<!-- Template Main CSS File -->
<link href="~/css/styleNavBar.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Fitness Gym</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->



            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">



            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="https://localhost:7275/empleados">

                    <span>Medidas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://localhost:7275/empleados">

                    <span>Citas de medicion</span>
                </a>
            </li>
            
            <!-- End Profile Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->
    <!-- ======= Footer ======= -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Medidas</h1>

        </div><!-- End Page Title -->

        <section class="section medidas-section">
            <form id="formCitaMedicion" class="formulario" action="registrar" method="post">

                <label for="inputPeso" class="form-label">Cliente</label>
                <select class="form-select empleados-main-page-input" name="fkUsuario" aria-label="Default select example">
                    <option class="fix-fontColor-option" selected>selecciona un cliente </option>
                    @foreach (var user in listadoEntrenadores)
                    {
                        <option value="@user.Id" class="fix-fontColor-option">@user.NombreCompleto @user.Apellido</option>
                    }
                </select>
                <span asp-validation-for="@Model.fkUsuario" class="validation-error"></span>

                <label for="inputPeso" class="form-label">Peso(kilogramos)</label>
                <input type="text" name="peso" class="form-control empleados-main-page-input" id="inputPeso">
                <span asp-validation-for="@Model.peso" class="validation-error"></span>


                <label for="inputAltura" class="form-label">Altura(metros)</label>
                <input type="text" name="altura" class="form-control empleados-main-page-input" id="inputAltura">
                <span asp-validation-for="@Model.altura" class="validation-error"></span>


                <label for="inputPorcentajeGrasa" class="form-label">IMC</label>
                <input type="text" name="imc" class="form-control empleados-main-page-input" id="inputPorcentajeGrasa">
                <span asp-validation-for="@Model.imc" class="validation-error"></span>


                <label for="inputEdad" class="form-label">Edad</label>
                <input type="text" name="edad" class="form-control empleados-main-page-input" id="inputEdad">
                <span asp-validation-for="@Model.edad" class="validation-error"></span>


                <label for="inputGenero" class="form-label">Genero</label>
                <select id="inputGenero" class="form-select empleados-main-page-input" name="genero" aria-label="Default select example">
                    <option selected>Genero</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <span asp-validation-for="@Model.genero" class="validation-error"></span>

                <button type="submit" class="btn btn-primary fix-margin">Submit</button>
            </form>
        </section>

    </main><!-- End #main -->




    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->

    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/quill/quill.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    -->
    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    <script src="~/js/empleados.js" asp-append-version="true"></script>

</body>

</html>
